body {
    background-color: black;
    text-align: center;
    margin: 0 auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("Assets/Rattlebag Logo White.png") repeat top/300px;
    opacity: 0.05; 
    pointer-events: none; 
   z-index: -1;  
}

main {
    width:900px;
    height: 1000px;
    background-image: url("Assets/RB Light.jpg");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 900px;
    border: 1px solid #b37373;
    margin: 100px auto;
}

main h2 {
    text-decoration: underline;
    margin: 64px 0;
}

.blurb {
    text-align: left;
    margin: 0 auto;
    width: 700px;
    padding: 0 100px;
    line-height: 48px;
    background-color: rgba(0, 0, 0, 0.3);
}
main header {
    box-sizing: border-box;
    margin: 0 auto;
    width: 450px;
    height: 100px;
    padding: 0 0 152px 0;
    line-height: 50px;
    margin-bottom: 64px;
    border: 2px solid #aa6c39;
}

p strong:hover {
    color: #7393B3
}

p a {
    text-decoration: none;
}

table {
    position: relative;
    margin: 48px auto;
    border: 2px solid #b37373;
    line-height: 30px;
    font-weight: bold;
}

th {
    text-decoration: underline 2px #b37373;
}

