body {
    background-color: black;
    text-align: center;
    margin: 0 auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("Assets/Rattlebag Logo White.png") repeat top/300px;
    opacity: 0.05; /* change this to control how faint the PNG is */
    pointer-events: none; /* don’t block clicks */
    z-index: -1;  /*keeps it behind everything */
}

.menu {
    display: grid;
    grid-template-columns: 300px 300px 300px; /* 3 equal sections */
    width: 900px;
    height: 1000px;
    margin: 100px auto 0;
}

.menu #img1 {
    grid-column: 1; /* left */
    width: 300px;
    height: 900px;
    object-fit: cover;
}

.menu #img2 {
    grid-column: 3; /* right */
    width: 300px;
    height: 900px;
    object-fit: cover;
}
