.Events {
    display: flex;
    flex-direction: column;
    background-color: black;
    line-height: 32px;
    width: 900px;
    height: 1000px;
    border: 1px solid #b37373;
    margin: 100px auto;
}

.Events article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#Events img{ 
    grid-row: auto;
    height: 450px;
    width: 450px;
}

#Event1 img{
    height: 500px;
    width: 450px;
    
}

#Event2 img{
    height: 500px;
    width: 450px;
    margin: -12px;
}

article h3 {
    margin: 0 auto 48px;
}

#TJJ {
    text-align: left;
    margin: auto 30px;
}

strong{
    padding-left: 150px;
}

strong:hover {
    color: #7393B3;
}

#SS {
    text-align: right;
    margin: auto 30px;
}